In [1]:
import pandas as pd
import numpy as np

In [2]:
cd

/Users/claraturner

In [3]:
voter_data = pd.read_csv('Desktop/DE paper/2014testdata.csv')
voter_data.head()
#load data

,CITY,Total Pop,HL%,HL,PERCENTWIN,TURNOUT,PERCENTWIN NORMALIZED,ELXNYR,DIST,BEFORE
0,1,249.2730,18.946015,0,33.8,31.8,83.22,2014,0,1
1,1,1743.0000,89.845095,1,43.8,14.6,107.84,2014,0,1
2,1,2169.9220,74.727446,1,37.7,43.5,92.82,2014,0,1
3,1,3067.1920,59.070596,1,40.5,34.2,99.71,2014,0,1
4,1,3847.6884,67.886516,1,32.3,27.1,79.52,2014,0,1

In [4]:
#define and compute correlation, weighted by population

def m(x, w):
    """Weighted Mean"""
    return np.sum(x * w) / np.sum(w)

def cov(x, y, w):
    """Weighted Covariance"""
    return np.sum(w * (x - m(x, w)) * (y - m(y, w))) / np.sum(w)

def corr(x, y, w):
    """Weighted Correlation"""
    return cov(x, y, w) / np.sqrt(cov(x, x, w) * cov(y, y, w))
#https://stackoverflow.com/questions/38641691/weighted-correlation-coefficient-with-pandas

# Compute the correlation.
r = corr(voter_data['HL%'], voter_data['PERCENTWIN NORMALIZED'], voter_data['Total Pop'])
print(r)

-0.424870884798